<launch>
      <arg name="map_frame" default="map" />
      <arg name="base_frame" default="base_link" />
      <arg name="odom_frame" default="odom" />
      <arg name="floor_name" default="mymap" />

      <!-- map server combine -->
      <include file="$(find mixed_nav)/launch/map_server.launch">
            <arg name="floor_name" default="$(arg floor_name)" />
            <arg name="launch_rviz" value="false" />
            <arg name="launch_pcd" value="false" />
            <arg name="map_frame" value="$(arg map_frame)" />
      </include>

      <!-- move_base -->
      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find mixed_nav)/config/costmap_common_params.yaml" command="load" />
            <rosparam file="$(find mixed_nav)/config/costmap_common_params.yaml" command="load" />
            <!-- <rosparam file="$(find mixed_nav)/config/local_costmap_params_d435i.yaml" command="load" /> -->
            <rosparam file="$(find mixed_nav)/config/local_costmap_params_lidar.yaml" command="load" />
            <rosparam file="$(find mixed_nav)/config/global_costmap_params.yaml" command="load" />
            <!-- <rosparam file="$(find mixed_nav)/config/dwa_local_planner_params.yaml" command="load" /> -->
            <rosparam file="$(find mixed_nav)/config/teb_local_planner_params.yaml" command="load" />
            <param name="base_global_planner" value="navfn/NavfnROS" />
            <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->
            <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      </node>

      <!-- move base rviz -->
      <node pkg="rviz" type="rviz" name="nav_rviz" args="-d $(find mixed_nav)/rviz/nav_rviz.rviz" />

      <!-- navigation simulator -->
      <node pkg="mixed_nav" type="simulation.py" name="simple_robot_simulator" output="screen">
            <param name="odom_frame_id" value="$(arg odom_frame)" />
            <param name="base_frame_id" value="$(arg base_frame)" />
            <param name="publish_rate" value="50" />
      </node>

      <!-- simulator tf tree -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_static" 
            args="0 0 0 0 0 0 $(arg map_frame) $(arg odom_frame)" />
      <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_link_static" 
            args="0 0 0 0 0 0 $(arg odom_frame) $(arg base_frame)" />
      <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser_static" 
            args="0 0 0 0 0 0 $(arg base_frame) camera_link" />

      <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_livox" 
            args="0 0 0 0 0 0 base_link livox_frame" />


</launch>
